body {
  font-family: Arial;
}
h1 {
  border: 5px solid magenta; /*граница. solid-сплошная*/
  background: #ffaeda;
  font-size: 4.5em;
  color: aquamarine;
  text-align: center;
  padding: 50px ;
  margin: 0;
}
img {
  width : 30%;
  transition: 0.5s;
  
}

img:hover { 
transform : scale(1.1, 1.1);

}

a{
    padding: 14px 32px;
    background: #ffaeda;
    border-radius: 3px ;
    text-decoration: none;
    color: #212121;

}

a:hover {
    background-color: cornflowerblue;
    color:#ffffff

}
.large{
    font-size:  20 px;
}
.blue {
    background: cornflowerblue;
    box-shadow: 2px 10px 50px lightskyblue;
}
.rounded {
    border-radius: 30px;
}
.block{
    width: 30%;
    border-radius : 35px;
    padding: 25px;
    float: left
}
.block img {
    width: 50%;
}

.pink
{
    background:  pink;
}
.green
{
    background: greenyellow;
}
.orange
{
    background:  orange;
}
