
.body{
    margin: 0;
}
.pink{
    background: pink;
    display: flex;
    flex-wrap: wrap;

}
.green{
    background: aquamarine;
    padding: 10px ;
    margin: 10px ;
    box-sizing: border-box;
    width:calc(25% - 20px);
}
@media(max-width: 991px){
    .green{
        width:calc(50% - 20px);
        background: azure;
    }
}
@media(max-width: 575px){
    .green{
        width:calc(100% - 20px);
    }
.block3{
    display: none;
}
}